.products {
  background-color: #0c0c0c;
}
.products .left {
  background-image: url("../../assets//smoker.png");
  background-repeat: no-repeat;
  height: 90vh;
  background-size: 100% 100%;
  object-fit: cover;
}
